name: "02 Build Edge CSV"

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-edge:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas

     ### - name: Run NBA edge script
     ###   run: python scripts/build_nba_edge_csv.py

      - name: Run NCAAB edge script
        run: python scripts/build_ncaab_edge_csv.py

      - name: Run SOC edge script
        run: python scripts/build_soc_edge_csv.py

    ###  - name: Run NHL edge script
     ###   run: python scripts/build_nhl_edge_csv.py

      - name: Commit and push edge CSVs
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add docs/win/edge
          git commit -m "Update edge CSVs" || exit 0
          git push
