name: Clean Win Probabilities

on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *' # Runs every hour

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Run Cleaning Script
        run: |
          python scripts/clean_win_prob_2.py

      - name: Commit and Push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add docs/win/cleaned/
          
          # Check if there are changes before committing
          if ! git diff --cached --quiet; then
            git commit -m "Auto-update cleaned win probability data"
            git push
          else
            echo "No new data to commit."
          fi
