name: 02 DK Prep

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas

      - name: DK 01 – raw clean
        run: python scripts/dk_01.py

      - name: DK 02 – Cleaning
        run: python scripts/dk_02.py

      - name: DK name normalization
        run: |
          python scripts/name_normalization_manual.py
            

     # - name: DK 03 – normalize by games_master
     #   run: python scripts/dk_03.py

    #  - name: Validate games_master
     #   run: python scripts/validate_games_master.py
