name: 01 Raw Clean

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas

      - name: Run raw_clean
        run: |
          python scripts/raw_clean.py

      - name: Normalize Dump team names
        run: |
          python scripts/name_normalization_dump.py

      - name: Clean My Bets
        run: |
          python scripts/my_bets_clean_01.py

      - name: Commit and Push Changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add docs/win/dump/csvs/cleaned/*.csv
          git add docs/win/games_master/*.csv
          git add mappings/need_map/dump_no_map.csv
          git add docs/win/my_bets/step_01/*.csv
          git add docs/win/errors/01_raw/
          git commit -m "Raw clean + name normalization + my bets clean" || exit 0
          git push
