name: 04 Build Totals

on:
  workflow_dispatch:

jobs:
  run-scripts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas scipy

      - name: Run NBA Totals
        run: python scripts/totals_nba.py

      - name: Run NCAAB Totals
        run: python scripts/totals_ncaab.py

      - name: Run NHL Totals
        run: python scripts/totals_nhl.py

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add docs/win/nba/totals/*.csv
          git add docs/win/ncaab/totals/*.csv
          git add docs/win/nhl/totals/*.csv
          git commit -m "Update O/U totals CSVs" || echo "No changes to commit"
          git push
